h1, p {
  font-family: Lato;
}

.kol{
   float: left;
}
.kol ul{
   float: left;
   padding: 0;
}

.kol ul li{
  float: left;
  list-style: none;
}

.card{
  width: 350px;
}

.contetn{
float: left;
}


